
/* .btn-color{
    background-color: #00653e;
    color: #fff;
    
  }
  .btn-color:hover{
    background-color: #000000;
    color: #fff;

  }
  .profile-image-pic{
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
  .cardbody-color{
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  .login-wrapper{
    width: 400px;
  }
.login-container{
    height: 100vh;

    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
}
  @media screen and (min-width: 768px) {
    .profile-image-pic{
        height: 120px;
        width: 120px;
        object-fit: cover;
      }
  } */



.login-container{
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: var(--primary-color);
}
.login-wrapper{
  width: 400px;
  color: var(--white);
  box-shadow: 0 0 5px var(--white);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  animation: signdiv 1s linear;
}
@keyframes signdiv{
  0%{
      transform: rotateY(180deg);
      opacity: 0.3;
  }
}
.btn-color{
  background-color: #00653e;
  color: var(--white);
  font-weight: bold;
}
.btn-color:hover{
  background-color: var(--logo-color);
  color: var(--white);
}
.profile-image-pic{
  height: 100px;
  width: 100px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .profile-image-pic{
      height: 120px;
      width: 120px;
      object-fit: cover;
    }
}
